<html>
<head>
<style type="text/css">
h5 {font-size: 100%}
tr {font-size: 75% }
p {font-size: 100%}

</style>
</head>
<body>
<font size="2" face="Arial" >
<h5> Dealer Products</h5>
<table border="1">
<tr>
<th>Product</th>
<th>Product Supplier</th>
<th>Contract End Date</th>
</tr>
<tr>
<td>CRM</td>
<td>{!Account.CRM__c}</td>
<td>{!Account.CRM_Contract_End__c}</td>
</tr>
<tr>
<td>ILM</td>
<td>{!Account.ILM__c}</td>
<td> {!Account.ILM_Contract_End__c}</td>
</tr>
<tr>
<td>OTL</td>
<td>{!Account.OTL_Service__c}</td>
<td> {!Account.OTL_Contract_End__c}</td>
</tr>
<tr>
<td>Website</td>
<td>{!Account.Web_Site_Company__c}</td>
<td> {!Account.Web_Site_Contract_End__c}</td>
</tr>
<tr>
<td>DMS</td>
<td>{!Account.DMS_System__c }</td>

</tr>
<tr>
<td>Market Pricing Tool</td>
<td>{!Account.Market_Pricing_Tool__c}</td>

</tr>
</table>
<h5>Dealer Information</h5>
Franchise: {!Account.Franchise__c}<br/>

</font>
</body>
</html>