<html>
<head>
<style type="text/css">
h5 {font-size: 85%}
tr {font-size: 75%}
p {font-size: 100%}
</style>
</head>
<body>

<p>
<font size="2" face="Arial">
<h5>Installment Information</h5>
# of Installments: {!Opportunity.Number_of_Installments__c}<br/>
Total Installments Paid:{!Opportunity.Total_Installments_Paid__c}<br />
</p>
</font>
</body>
</html>