.THIS .forceCommunityCreateRecordForm .buttonWrapper {
    margin: 14px auto 0;
    text-align: center;
}

.THIS .headerLabel{
    text-align: center;
    font-size: 1.4em;
}

.THIS .row{
    margin: 14px auto 0;
}

.THIS .required{
    background-color: #c00;
    bottom: 1px;
    height: 30px;
    left: -6px;
    position: absolute;
    top: 1px;
    width: 3px;
}

.THIS .has-error{
    background-clip: padding-box;
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: 0 0 0 1px rgb(194, 57, 52) inset;
}